* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_href {
  color: black;
  text-decoration: none;
}
.logo_href .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logo_href img {
  width: 60px;
}

.hf_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hf_ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.hf_ul li img {
  width: 25px;
}
.hf_ul li a {
  color: black;
  text-decoration: none;
}

.warm {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border: 1px solid gainsboro;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  padding: 20px;
  margin: 30px auto;
}
footer img {
  width: 60px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  padding: 20px;
  margin: 30px auto;
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
  max-width: 800px;
}
.input_wrapper label {
  position: absolute;
  left: 40px;
  top: -12px;
  background-color: white;
}
.input_wrapper .input {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 0;
  border-radius: 50px;
}

.fof a {
  text-decoration: none;
  color: royalblue;
}

.card {
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
}
.card .s_p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card h3,
.card p {
  padding: 10px;
}
.card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.terms {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}
.terms h1,
.terms h2,
.terms h3 {
  color: #000000;
  margin-bottom: 10px;
}
.terms h1 {
  font-size: 2rem;
}
.terms h2 {
  font-size: 1.75rem;
}
.terms h3 {
  font-size: 1.5rem;
}
.terms p {
  margin-bottom: 15px;
}
.terms a {
  color: #007BFF;
  text-decoration: none;
}
.terms a:hover {
  text-decoration: underline;
}
.terms ul {
  list-style: disc;
  margin-left: 20px;
}
.terms li {
  margin-bottom: 10px;
}
.terms .contact {
  margin-top: 20px;
  font-weight: bold;
}

.state {
  width: 95%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px 0;
}
.state .state_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.state .state_buttons button {
  width: 45%;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.state .state_buttons button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1440px) {
  footer {
    flex-direction: column;
    gap: 30px;
  }
  footer ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 1100px) {
  header ul {
    display: none !important;
  }
  header h1 {
    display: none;
  }
}
@media (max-width: 500px) {
  footer ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .state .state_buttons {
    flex-direction: column;
  }
  .state .state_buttons button {
    width: 95%;
  }
}/*# sourceMappingURL=pegasus.css.map */
